@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

.div {
    background-color: white;
    color: black;
}

.card, .carousel, figure {
    border: 3px solid aqua;
    border-radius: 10px;
}

.card-text {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Shantell Sans', sans-serif;
}

.img {
    width: 50%;
    height: 50%;
    border: 3px solid aqua;
    border-radius: 10px;
}

.cvimg {
    width: auto;
    height: auto;
}

.Parent {
    display: flex;
    flex-direction: row;
}

.child1 {
    width: 50%;
    height: 100vh;
}

.child2 {
    width: 50%;
    height: 100vh;
}